  <%= render 'shared/errors', object: @recipe %>

<%= form_for @recipe do |f| %>
  
  Select a Category for your recipe:

  <div class="field">
    <%= f.collection_select :category_id, Category.all, :id, :name %><br/> 
  </div>

  <div class="field">
    <%= f.label :title_of_recipe, class: "label" %>
    <%= f.text_field :title, class: "input" %>
  </div>

  <div class="field">
    <%= f.label :image, class: "label" %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :level, class: "label" %>
    <%= f.text_field :level, class: "input" %>
  </div>

  <div class="field">
    <%= f.label :serves, class: "label" %>
    <%= f.text_field :serves, class: "input" %>
  </div>

<h3>Ingredients</h3>
<div id="ingredients">
  <div class="field">
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f: ingredient %>
    <% end %>
    <%= link_to_add_association 'add ingredient', f, :ingredients, class: "button" %><br/>
  </div>
  <br>
</div>
  <h3>Quantity</h3>
    <div id="recipe_details">
      <div class="field">
        <%= f.fields_for :recipe_details do |recipe_detail| %>
          <%= render 'recipe_detail_fields', f: recipe_detail %>
        <% end %>
        <br>
        <%= link_to_add_association 'add quantity', f, :recipe_details, class: "button" %>
      </div>
    </div>
  <br/>
  <div class="field">
    <%= f.submit class: "button active-button" %>
  </div>
<% end %>