<%= form_for @recipe do |f| %>
  <div id="error_explanation">
  <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe to save: </h2>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

  <div class="field">
    <%= f.label :title_of_recipe, class: "label" %>
    <%= f.text_field :title, class: "input" %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>

  <%= f.fields_for :ingredients do |i| %>
  <div class="field">
    <%= i.label :name_of_ingredient %>:
    <%= i.text_field :name, class: "input" %><br/>
    <%= i.fields_for :recipe_details do |r| %>
      <%= r.label :serves, class: "label" %>
      <%= r.text_field :serves, class: "input" %>
      <%= r.label :level, class: "label" %>
      <%= r.text_field :level, class: "input" %>
      <%= r.label :quantity, class: "label" %>
      <%= r.text_field :quantity, class: "input" %><br/>
    <% end %>
  <% end %>
  <br/>
  <div class="field">
    <%= f.submit class: "button active-button" %>
  </div>
<% end %>