  <%= render 'shared/errors', object: @recipe %>

<%= form_for ([@category, @recipe]) do |f| %>
 <div class="columns">
    <div class="column is-5">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Please pick a Category for your Recipe: </p>
        </header>
        <div class="card-content">
          <div class="content">
          <div class="field">
            <%= f.collection_select :category_id, Category.all, :id, :name %>
          </div>
          <header class="card-header">
            <p class="card-header-title">Title of Recipe: </p>
          </header>
          <div class="field">
            <%= f.text_field :title, class: "input" %>
          </div>
          <header class="card-header">
            <p class="card-header-title">Upload Image of Recipe</p>
          </header>
          <div class="field">
            <%= f.file_field :image %>
          </div>
          <header class="card-header">
            <p class="card-header-title">Level of Expertise:</p>
          </header>
            <div class="field">
              <%= f.text_field :level, class: "input" %>
            </div>
            <header class="card-header">
              <p class="card-header-title">Serves # of People:</p>
            </header> 
            <div class="field">
              <%= f.text_field :serves, class: "input" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Ingredients:</p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field">
              <%= f.fields_for :ingredients do |i|%> 
                <%= i.label :quantity_and_name, class: "label" %>
                <%= i.text_field :name, class: "input" %>
            </div>  
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Directions:</p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field">
            <%= i.fields_for :recipe_details do |rd| %>
              <%= rd.text_field :directions, class: "input" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    <br>
      <% end %>
    <div class="actions">
      <%= f.submit class: "button" %>
    </div>
    <% end %>