<section class="section ">
  <div class="container center-all">
      <div class="level">
        <h3 class="subtitle recipe-title"><%= @recipe.title %></h3>
      </div>
    <%= image_tag @recipe.image %>
  </div>
  <% @recipe.ingredients.recipe_details.each do |recipe_detail| %>
    <%= recipe_detail.level %> |
    <%= recipe_detail.serves %>
    <%= recipe_detail.quantity %> -
<% end %>
  <% @recipe.ingredients.each do |ingredient| %>
  <div class="container">
    <%= ingredient.name %> 
  </div>
  <% end %>
</section>